<html>
<head>
    <title>Login page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body class=" h-100 text-white bg-dark">
 <h1>Login Form</h1>
 <br>
 <div class='login-form'>
    <form method='post'>
        {% csrf_token %}
        {{form}}
        <br><br>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
    <br>
    <h4>You are a new user?<a href='/registration'><br> Click here.</a></h4>
 </div>

</body>
</html>